@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$primaryClr: rgb(47, 155, 128);
$secClr: rgb(77, 77, 77);
$backClr: rgb(41, 41, 41);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main-content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backClr;
  overflow: hidden;
}

.calculator {
  &.hidden {
    opacity: 0;
    transform: translateY(100px);
  }
  opacity: 1;
  transform: translateY(0);
  transition: all 350ms ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  @media (min-width: 481px) {
    max-width: 390px;
    max-height: 650px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 30px 10px rgba(black, 0.2);
  }

  .display {
    background-color: rgb(241, 241, 241);
    padding: 1em;
    width: 100%;
    height: 85px;
    overflow: hidden;
    flex: 1;
    &__readout {
      font-size: 1.5rem;
      float: right;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      letter-spacing: 3px;
    }
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex: 5;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.75rem;
      font-weight: bold;
      padding: 0.5em;
      width: 100%;
      height: 100%;
      background-color: $backClr;
      color: white;
      cursor: pointer;
      transition: all 75ms ease;
      user-select: none;
      &:hover {
        filter: brightness(95%);
      }
      &:active {
        transform: scale(0.97);
        filter: brightness(90%);
      }
      &:focus,
      &:active {
        -webkit-tap-highlight-color: transparent;
      }
    }
    .operator,
    .function {
      background-color: $primaryClr;
      color: white;
    }
    .clear,
    .backspace {
      width: 100%;
    }
    .clear {
      background-color: lighten($backClr, 2);
      transform-origin: right;
    }
    .backspace {
      background-color: lighten($backClr, 2);
      transform-origin: left;
    }
    .swap {
      background-color: lighten($backClr, 2);
    }
    .zero {
      grid-column: span 2;
    }
    .equals {
      background-color: $primaryClr;
      color: white;
      width: 100%;
    }
  }
}
